.login-wrapper {
    max-width: 60rem;
}

.username-input {
    width: 400px;
    background-color: rgb(41, 41, 41);
    border: 1px solid #3e3e3e;
    color: #ededed;
    height: 38px;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: .375rem;
}

@media screen and (max-width: 768px) {
    .username-input {
        width: 300px
    }
}