html {
  background: #1c1c1c;
}

body {
  margin: 0;
  font-family: circular,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1c1c1c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.messages-container {
  display: flex;
  padding: 0px 20px;
  overflow-y: scroll;
}

input {
  font-size: 14px;
}

input:focus {
  outline: none;
}
